/* line 2, builder.scss */
#builder .col { border: 3px solid #000; }
/* line 5, builder.scss */
#builder .col:hover { border-color: #FFF; }
/* line 8, builder.scss */
#builder .col.selected { border-color: #F00; }
