/* LaND - A mobile first fluid responsive layout framework by Terry Hibbert.
 *
 * TIPS:  Edit the SCSS and not the CSS.
 *        Add non-layout styles to a different CSS file loaded after LaND.
 *
 * Usage 'col La-N-D' where:
 *  'La' is replaced by the shorthand of the targeted layout:
 *      s   :   small
 *      mp  :   mobile portrait
 *      ml  :   mobile landscape (also table portrait)
 *      t   :   tablet (landscape)
 *      d   :   desktop
 *      dl  :   desktop large
 *
 *      There's also limited visibility options for print vs screen
 *      p   :   print only
 *      s   :   screen only
 *
 *  Then '-N-D' to represent the fraction: N/D where
 *       'N' is the numerator (top of the fraction)
 *       'D' is the denominator (bottom of the fraction)
 *
 *  E.g. 'col s-1-2 d-1-4' will be a half column element that changes to quarter width on desktop.
 */

// Configuration
//==================================================

$responsive: true;

// Default container size. This will be used on fixed width sites:
$defaultContainerMax: 940px;
$dcm: $defaultContainerMax; // Just an alias

// Layout definitions
//                |         |         |         |         |         |
//                small     mobile    mobile    tablet    desktop   desktop
//                portrait  landscape                     large
$layouts:         s         m         ml        t         d         dl;
$min:             0px       320px     480px     961px     1025px    1200px;
$containerMax:    100%      100%      100%      $dcm      $dcm      1150px;

// Largest amounts of parts in size. The largest D in 'La-N-D':
$denominatorMax:  3         4         6         8         8         8;

$layoutSelectors: ();
@each $layout in $layouts {
  $layoutSelectors: append($layoutSelectors, '.#{$layout}');
}

// The layout used for ie 8 and below
// Used when media queries are not supported
$fixedLayout: 'd';

// Padding sizes used by name. E.g. 'a-pad-0' or 'a-pad-3':
$padSizeNames:  0   1   2   3   4   5   6   7   8   9   10    5px;
$padSizes:      0   10  20  30  40  50  60  70  80  90  100   5;

// Index of the padding size used as default for all 'col':
$padColDefaultSize: 2; // NB: Start at 1, no such thing as 0

// Border sizes used by index. E.g. 'a-border-0' or 'a-border-3':
$borderSizes: 0 1 2 3 4 5;

// Animation transitions. Applied to containers with 'animate' class:
$transitionDuration: '0.5s';

// Fixed width sizes:
$fixedSizes: 100 200 300 400;

$layoutCount: length($layouts);

// Business
//==================================================

@import "land/functions";

@import "land/layouts";

