/* LaND - A fluid responsive layout framework by Terry Hibbert.
 *
 * TIPS:  Edit the SCSS and not the CSS.
 *        Add non-layout styles to a different CSS file loaded after LaND.
 *
 * Usage 'col La-N-D' where:
 *  'La' is replaced by the shorthand of the targeted layout:
 *      a   :   any
 *      d   :   desktop
 *      t   :   tablet
 *      m   :   mobile
 *      ml  :   mobile landscape
 *      mp  :   mobile portrait
 *
 *      There's also limited visibility options for print vs screen
 *      p   :   print only
 *      s   :   screen only
 *
 *  Then '-N-D' to represent the fraction: N/D where
 *       'N' is the numerator (top of the fraction)
 *       'D' is the denominator (bottom of the fraction)
 *
 *  E.g. 'col a-1-2 mp-1-1' will be a half column that changes to full width on mobile portrait.
 */

// Configuration
//==================================================

$responsive: true;

// Default container size. This will be used on fixed width sites:
$defaultContainerMax: 940px;

// Layout definitions
$dcm: $defaultContainerMax; // Just an alias
//                |         |         |         |         |
$layouts:         b         b         b         m         m         m;
$subLayouts:      b         d         t         m         ml        mp;
$max:             99999px   99999px   1024px    960px     960px     479px;
$min:             961px     1025px    961px     0px       479px     0px;
$containerMax:    $dcm      $dcm      $dcm      100%      100%      100%;

// Largest amounts of parts in size. The largest D in 'La-N-D':
$largestDenominator: 8;

// Padding sizes used by index. E.g. 'a-pad-0' or 'a-pad-3':
$padSizes: 0 10 20 30 40 50 60 70 80 90 100;

// Index of the padding size used as default for all 'col':
$padColDefaultSize: 3; // NB: Start at 1, no such thing as 0

// Border sizes used by index. E.g. 'a-border-0' or 'a-border-3':
$borderSizes: 0 1 2 3 4 5;

// Animation transitions. Applied to containers with 'animate' class:
$transitionDuration: '0.5s';

// Fixed width sizes:
$fixedSizes: 100 200 300 400;

// Business
//==================================================

@import "land/_functions.scss";

$infoWrapper: '*';

.LaND-info {
  content: $infoWrapper + implode($layouts,',')
        + '|' + implode($subLayouts,',')
        + '|' + implode($max,',')
        + '|' + implode($min,',')
        + '|' + implode($containerMax,',')
        + $infoWrapper;
}

@import "land/_layouts.scss";

/* General
================================================== */

$layoutCount: length($layouts);

* {
  @include borderBoxSizing();
}

img {
  border: 0;
}

ul.plain {
  list-style: none;
}

.debug-only { display: none; }
.debug .debug-only { display: block; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

/* Columns
================================================== */

.col {
  float: left;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  border: 0 solid #999;
  min-height: 1px;

  .right { float: right; }
  .overflow-visible { overflow: visible; }

  @include animate($transitionDuration, 'padding, border');
}

.col.collapsible {
  min-height: 0;
}

/* Column debug */
.debug {
  .debuggable {
    .col {
      background: -moz-linear-gradient(-45deg, rgba(255,127,127,0.5) 0%, rgba(131,255,127,0.5) 100%);
      background: -webkit-linear-gradient(-45deg, rgba(255,127,127,0.5) 0%, rgba(131,255,127,0.5) 100%);
      background: -ms-linear-gradient(-45deg, rgba(255,127,127,0.5) 0%, rgba(131,255,127,0.5) 100%); /* IE10+ */
      background: linear-gradient(135deg, rgba(255,127,127,0.5) 0%, rgba(131,255,127,0.5) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7F7F', endColorstr='#83FF7F', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .col.one,
    .col.full,
    .col.fullWidth {
      background-color: #FF00FF;
    }
  }
}


/* #Default Layout
================================================== */

.LaND-container {
  overflow: hidden;
  width: $defaultContainerMax;
  clear: both;
}
.LaND-container.center {
  margin: 0 auto;
}

.LaND-container.animate {
  @include animate($transitionDuration, 'all');
}

/* Less than ie9 is fixed. Upgrade your browser please... */
.lt-ie8 .LaND-container {
  width: $defaultContainerMax !important;
}

/* Col sizes for any layout - to override with more specific layouts */
@include colSizes($la: "a");
@include targetedProperties($la: "a");

.a-block { display: block; }
.a-inline { display: inline; }

@media screen {
  land-s {cue:none}

  .not-s,
  .p {
    display: none !important;
  }
}

@media print {
  land-p {cue:none}

  .not-p,
  .s {
    display: none !important;
  }
}

@if $responsive {
  body { overflow-x: hidden; }
  @include layouts();
}
