<div class="col s-clear">
    <p class="col">Single full width</p>
    <div class="col">1</div>

    <p class="col">Two half width</p>
    <div class="col s-1-2">1</div>
    <div class="col s-1-2">2</div>

    <p class="col">Two half width on tablet or wider</p>
    <div class="col t-1-2">1</div>
    <div class="col t-1-2">2</div>

    <p class="col">A third and a two third on tablet and wider</p>
    <div class="col t-1-3">1</div>
    <div class="col t-2-3">2</div>

    <p class="col">Single column until second container splits in half on mobile landscape, tablet divides first and second container into one and two third columns</p>
    <div class="col t-1-3">1</div>
    <div class="col t-2-3">
        <div class="col ml-1-2">3</div>
        <div class="col ml-1-2">4</div>
    </div>

    <p class="col">Clear left</p>
    <div class="col t-1-2">1</div>
    <div class="col t-1-2 s-clear-left">2</div>


    <p class="col"></p>
    <div class="col s-2-3 s-margin-auto ml-1-1 ml-margin-0">yeah</div>

    <p class="col"></p>
</div>