@mixin layouts() {
  /* BUILD LAYOUTS */
  @for $i from 1 through $layoutCount {

    $la: nth($layouts, $i);
    $subLa: nth($subLayouts, $i);

    $nots: '';
    @for $j from 1 through $layoutCount {
      $nla: nth($subLayouts, $j);
      @if $nla != $la and $nla != $subLa {
        $nots: $nots + '.#{nth($subLayouts, $j)},';
        $nots: $nots + '.#{nth($subLayouts, $j)}-block,';
        $nots: $nots + '.#{nth($subLayouts, $j)}-inline';
        @if $j < $layoutCount {
          $nots: $nots + ',';
        }
      }
    }

    @media (min-width: #{nth($min,$i)}) and (max-width: #{nth($max,$i)}) {
      land-#{$subLa} {cue:none}

      .#{$la}, .#{$subLa} { display: block; }
      .#{$la}-block, .#{$subLa}-block { display: block; }
      .#{$la}-inline, .#{$subLa}-inline { display: block; }

      #{$nots}, .not-#{$la}, .not-#{$subLa} { display: none; }

      .LaND-container {
        width: #{nth($containerMax,$i)};
      }

      @include colSizes($la: $subLa);
      @include targetedProperties($la: $subLa);
    }
  }
}

@mixin colSize($la, $numerator, $denominator) {
  .#{$la}-#{$numerator}-#{$denominator} {
    width: fraction_percent($numerator, $denominator);
  }
}

@mixin colSizes($la) {
  @for $i from 1 through $largestDenominator {
    @for $j from 1 through $i {
      @if $j <= $i {
        @include colSize(#{$la}, $j, $i);
      }
    }
  }
}

@mixin fixedWithFluid($la, $width) {
  .a-fixed-left.#{$la}-px#{$width},
  .a-fixed-right.#{$la}-px#{$width},
  .#{$la}-fixed-left.#{$la}-px#{$width},
  .#{$la}-fixed-right.#{$la}-px#{$width} {
    width: #{$width}px;
  }

  .a-fluid-left.#{$la}-px#{$width} .a-fluid,
  .#{$la}-fluid-left.#{$la}-px#{$width} .a-fluid,
  .a-fluid-left.#{$la}-px#{$width} .#{$la}-fluid,
  .#{$la}-fluid-left.#{$la}-px#{$width} .#{$la}-fluid {
    margin-right: #{$width}px;
  }

  .a-fluid-right.#{$la}-px#{$width} .a-fluid,
  .#{$la}-fluid-right.#{$la}-px#{$width} .a-fluid,
  .a-fluid-right.#{$la}-px#{$width} .#{$la}-fluid,
  .#{$la}-fluid-right.#{$la}-px#{$width} .#{$la}-fluid {
    margin-left: #{$width}px;
  }
}

@mixin borderBoxSizing() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/css/boxsizing.htc);
}

@mixin animate($duration, $properties) {
  transition-property: #{$properties};
  -webkit-transition-property: #{$properties};
  transition-duration: #{$transitionDuration};
  -webkit-transition-duration: #{$transitionDuration};
}

/* Layout targeted properties
================================================== */
@mixin targetedProperties($la) {

  .#{$la}-auto { width: auto; }

  .#{$la}-float-left { float: left; }
  .#{$la}-float-right { float: right; }

  .#{$la}-opacity-100 { opacity: 0; }
  .#{$la}-opacity-75 { opacity: 0.75; }
  .#{$la}-opacity-50 { opacity: 0.5; }
  .#{$la}-opacity-25 { opacity: 0.25; }

  .#{$la}-clear, .#{$la}-clearLeft { clear: left; }
  .#{$la}-clear-right { clear: right; }
  .#{$la}-clear-both { clear: both; }

  .#{$la}-text-center { text-align: center; }
  .#{$la}-text-right { text-align: right; }
  .#{$la}-text-left { text-align: left; }

  .#{$la}-margin-auto { margin: auto !important; float: none !important; }

  .#{$la}-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


/* #Fixed with fluid columns
================================================== */

  .#{$la}-fluid-left .#{$la}-fluid-right .#{$la}-fluid { margin-right: 0}
  .#{$la}-fluid-right .#{$la}-fluid-left .#{$la}-fluid { margin-left: 0}

  .#{$la}-fluid-right {
    float: left;
    width: 100%;
  }
  .#{$la}-fluid-left {
    float: right;
    width: 100%;
  }

  .#{$la}-fixed-left,
  .#{$la}-fixed-right {
    background: #C8FC98;
  }
  .#{$la}-fixed-left {
    float: left;
    margin-left: -100%;
  }
  .#{$la}-fixed-right {
    float: right;
    margin-right: -100%;
  }

  $i:0;
  @each $fixedSize in $fixedSizes {
    @include fixedWithFluid($la: $la, $width: $fixedSize);
  }

/* #Absolute positioning
================================================== */
  .#{$la}-position-absolute { position: absolute; }
  .#{$la}-position-static { position: static; }
  .#{$la}-position-fixed { position: fixed;}

  .#{$la}-position-absolute.left, .#{$la}-position-static.left, .#{$la}-position-fixed.left { left: 0; }
  .#{$la}-position-absolute.right, .#{$la}-position-static.right, .#{$la}-position-fixed.right { right: 0; }
  .#{$la}-position-absolute.top, .#{$la}-position-static.top, .#{$la}-position-fixed.top { top: 0; }
  .#{$la}-position-absolute.bottom , .#{$la}-position-static.bottom, .#{$la}-position-fixed.bottom{ bottom: 0; }


/* Depth
================================================== */

  .#{$la}-z9 { z-index: 9; }
  .#{$la}-z99 { z-index: 99; }
  .#{$la}-z999 { z-index: 999; }
  .#{$la}-z9999 { z-index: 9999; }
  .#{$la}-z99999 { z-index: 99999; }
  .#{$la}-z999999 { z-index: 999999; }


/* Misc
================================================== */
  .#{$la}-cursor-pointer { cursor: pointer; }
  .#{$la}-full-height { height: 100%; }
  .#{$la}-display-table { display: table; }
  .#{$la}-cell-vertical-middle { display: table-cell; vertical-align: middle; float: none; }

  .#{$la}-v-center {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    display: table;

    .#{$la}-v-center-content {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      width: 100%;
      height: 100%;
    }
  }


/* Padding and margin
================================================== */

  @if $padColDefaultSize > 0 {
    .col {
      padding: #{nth($padSizes, $padColDefaultSize)}px;
    }
  }

  .col.#{$la}-pad-0 { padding: 0; }
  .col.#{$la}-margin-0 { margin: 0; }

  $i:0;
  @each $padSize in $padSizes {
    .col.#{$la}-pad-#{$i} { padding: #{$padSize}px; }
    .col.#{$la}-pad-top-#{$i}, .col.#{$la}-pad-t-#{$i} { padding-top: #{$padSize}px; }
    .col.#{$la}-pad-right-#{$i}, .col.#{$la}-pad-r-#{$i} { padding-right: #{$padSize}px; }
    .col.#{$la}-pad-bottom-#{$i}, .col.#{$la}-pad-b-#{$i} { padding-bottom: #{$padSize}px; }
    .col.#{$la}-pad-left-#{$i}, .col.#{$la}-pad-l-#{$i} { padding-left: #{$padSize}px; }
    .col.#{$la}-pad-h-#{$i} { padding-left: #{$padSize}px; padding-right: #{$padSize}px; }
    .col.#{$la}-pad-v-#{$i} { padding-top: #{$padSize}px; padding-bottom: #{$padSize}px; }

    .col.#{$la}-margin-#{$i} { margin: #{$padSize}px; }
    .col.#{$la}-margin-top-#{$i}, .col.#{$la}-margin-t-#{$i} { margin-top: #{$padSize}px; }
    .col.#{$la}-margin-right-#{$i}, .col.#{$la}-margin-r-#{$i} { margin-right: #{$padSize}px; }
    .col.#{$la}-margin-bottom-#{$i}, .col.#{$la}-margin-b-#{$i} { margin-bottom: #{$padSize}px; }
    .col.#{$la}-margin-left-#{$i}, .col.#{$la}-margin-l-#{$i} { margin-left: #{$padSize}px; }
    .col.#{$la}-margin-h-#{$i} { margin-left: #{$padSize}px; margin-right: #{$padSize}px; }
    .col.#{$la}-margin-v-#{$i} { margin-top: #{$padSize}px; margin-bottom: #{$padSize}px; }

    $i:$i+1;
  }

  .col.#{$la}-pad-top-0, .col.#{$la}-pad-t-0 { padding-top: 0; }
  .col.#{$la}-pad-right-0, .col.#{$la}-pad-r-0 { padding-right: 0; }
  .col.#{$la}-pad-bottom-0, .col.#{$la}-pad-b-0 { padding-bottom: 0; }
  .col.#{$la}-pad-left-0, .col.#{$la}-pad-l-0 { padding-left: 0; }
  .col.#{$la}-pad-h-0 { padding-left: 0; padding-right: 0; }
  .col.#{$la}-pad-v-0 { padding-top: 0; padding-bottom: 0; }

  .col.#{$la}-margin-top-0, .col.#{$la}-margin-t-0 { margin-top: 0; }
  .col.#{$la}-margin-right-0, .col.#{$la}-margin-r-0 { margin-right: 0; }
  .col.#{$la}-margin-bottom-0, .col.#{$la}-margin-b-0 { margin-bottom: 0; }
  .col.#{$la}-margin-left-0, .col.#{$la}-margin-l-0 { margin-left: 0; }
  .col.#{$la}-margin-h-0 { margin-left: 0; margin-right: 0; }
  .col.#{$la}-margin-v-0 { margin-top: 0; margin-bottom: 0; }


/* Borders
================================================== */

  $i:0;
  @each $borderSize in $borderSizes {
    .col.#{$la}-border-#{$i} { border-width: #{$borderSize}px; }
    .col.#{$la}-border-top-#{$i}, .col.#{$la}-border-t-#{$i} { border-top-width: #{$borderSize}px; }
    .col.#{$la}-border-right-#{$i}, .col.#{$la}-border-r-#{$i} { border-right-width: #{$borderSize}px; }
    .col.#{$la}-border-left-#{$i}, .col.#{$la}-border-l-#{$i} { border-left-width: #{$borderSize}px; }
    .col.#{$la}-border-bottom-#{$i}, .col.#{$la}-border-b-#{$i} { border-bottom-width: #{$borderSize}px; }

    $i:$i+1;
  }


/* Image
================================================== */
  .col img.#{$la}-fill {
    width: 100%;
  }
  .col img.#{$la}-auto {
    width: auto;
  }
}