a.air,
span.air {
  background-color: #EEE;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  opacity: 1; }
  a.air img,
  span.air img {
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
    opacity: 1; }
  a.air.updating.grayscale img,
  span.air.updating.grayscale img {
    -webkit-filter: grayscale(85%); }
  a.air.updating.blur img,
  span.air.updating.blur img {
    -webkit-filter: blur(5px); }
  a.air.lazy,
  span.air.lazy {
    background-image: url("../../images/loading.gif"); }
    a.air.lazy img,
    span.air.lazy img {
      opacity: 0; }
