<article class="debuggable col a-pad-0">
    <div class="col clear a-pad-0 debug">
        <div class="col">
            <h1>LaND v0.5 <button class="a-float-right" ng-click="$root.debug = !$root.debug">Debug: <span>{{debug}}</span></button></h1>
            <p><strong>La</strong>yout <strong>N</strong>umerator <strong>D</strong>enominator - My quick, fraction based, responsive CSS layout framework.</p>
        </div>

        <div class="col a-pad-0">
            <div class="col a-1-2 mp-1-1">
                <h3>Pros</h3>
                <ul>
                    <li>Simple</li>
                    <li>Flexible</li>
                    <li>Fast to implement</li>
                    <li>Fast to render</li>
                </ul>
            </div>

            <div class="col a-1-2 mp-1-1">
                <h3>Cons</h3>
                <ul>
                    <li>Not tiny at 80KB uncompressed</li>
                    <li>Layout in HTML</li>
                    <li>Incomplete</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col clear m-pad-0">
        <h3>An example:</h3>
        <div class="col a-1-4 m-1-1 a-pad-1">Any 1/4, mobile 1/1</div>
        <div class="col a-3-4 m-1-1 a-pad-1">Any 3/4, mobile 1/1</div>
    </div>

    <div class="col clear">
        <h3>Another example:</h3>
        <div class="col a-1-3 m-1-2 mp-1-1">Any 1/3, mobile 1/2, mobile portrait 1/1</div>
        <div class="col a-1-3 m-1-2 mp-1-1">Any 1/3, mobile 1/2, mobile portrait 1/1</div>
        <div class="col a-1-3 m-1-1">Any 1/3, mobile 1/1</div>
    </div>

    <div class="col clear">
        <h3>Some nesting examples:</h3>
        <div class="col a-1-2 m-1-1">
            <div class="col a-1-2 m1-1">One</div>
            <div class="col a-1-2 m1-1">two</div>
        </div>
        <div class="col a-1-2 m-1-1">Three</div>
    </div>

    <div class="col clear">
        <h3>Visibility examples:</h3>
        <div class="col a">Any</div>
        <div class="col d">Desktop</div>
        <div class="col not-d">Not Desktop</div>
        <div class="col t">Tablet - <span class="tp">portrait</span></div>
        <div class="col not-t">Not Tablet</div>
        <div class="col m">Mobile - <span class="ml">landscape</span><span class="mp">portrait</span></div>
        <div class="col not-m">Not Mobile</div>
    </div>

    <div class="col clear">
        <h3>FAQ</h3>
        <ul>
            <li>
                <div>Q. What's with the colours?</div>
                <div>A. That's debug mode. It lets you see what's happening</div>
            </li>
        </ul>
    </div>
</article>