<div class="a-margin-1 m-margin-0">
    <div class="col clear">
        <h2>Fixed with fluid</h2>
    </div>

    <div class="col a-1-2">
        <h4>Visability</h4>
        <div class="a">a - any</div>
        <div class="s">s - screen</div>
        <div class="p">p - print</div>
        <div class="d">d - desktop</div>
        <div class="t">t - tablet</div>
        <div class="tl">tl - tablet landscape</div>
        <div class="tp">tp - tablet portrait</div>
        <div class="m">m - mobile</div>
        <div class="ml">ml - mobile landscape</div>
        <div class="mp">mp - mobile portrait</div>
    </div>

    <div class="col a-1-2">
        <h4>Visability (negative)</h4>
        <div class="not-d">not-d - desktop</div>
        <div class="not-t">not-t - tablet</div>
        <div class="not-tl">not-tl - tablet landscape</div>
        <div class="not-tp">not-tp - tablet portrait</div>
        <div class="not-m">not-m - mobile</div>
        <div class="not-ml">not-ml - mobile landscape</div>
        <div class="not-mp">not-mp - mobile portrait</div>
    </div>


    <div class="col a-clear">
        <h2>Fixed with fluid</h2>
    </div>
    <div class="col a-clear">
        <div class="a-fluid-right a-px100">
            <div class="a-fluid">
                <div class="col a-1-2">.half</div>
                <div class="col a-1-4">.quarter</div>
                <div class="col a-1-8">.eighth</div>
                <div class="col a-1-8">.eighth</div>
            </div>
        </div>
        <div class="a-fixed-left a-px100">.fixed .px200</div>
    </div>

    <div class="col a-clear">
        <div  class="a-fluid-right a-px200">
            <div class="a-fluid">
                <div class="col a-1-2">.half</div>
                <div class="col a-1-4">.quarter</div>
                <div class="col a-1-4">.quarter</div>
            </div>
        </div>
        <div class="a-fixed-left a-px200">.fixed .px200</div>
    </div>

    <div class="col a-clear">
        <div  class="a-fluid-left a-px100">
            <div class="a-fluid">
                <div class="col a-1-2">.half</div>
                <div class="col a-1-4">.quarter</div>
                <div class="col a-1-8">.eighth</div>
                <div class="col a-1-8">.eighth</div>
            </div>
        </div>
        <div class="a-fixed-right a-px100">.fixed .px100</div>
    </div>

    <div class="col a-clear">
        <div class="a-fluid-left a-px200">
            <div class="a-fluid">
                <div class="col a-1-2">.half</div>
                <div class="col a-1-4">.quarter</div>
                <div class="col a-1-4">.quarter</div>
            </div>
        </div>
        <div class="a-fixed-right a-px200">.fixed .px200</div>
    </div>

    <h4>Both sides</h4>
    <div class="col a-clear">
        <div class="a-fluid-right a-px100">
            <div class="a-fluid">

                <div class="col a-clear">
                    <div class="a-fluid-left a-px100">
                        <div class="a-fluid">
                            <div class="col a-1-2">.half</div>
                            <div class="col a-1-2">.half</div>
                        </div>
                    </div>
                    <div class="a-fixed-right a-px100">.fixed .px100</div>
                </div>

            </div>
        </div>
        <div class="a-fixed-left a-px100">.fixed .px100</div>
    </div>

    <h4>Mulitple sized fixed right column</h4>
    <div class="col a-clear">
        <div class="a-fluid-left a-px300 t-px200 mp-1-1">
            <div class="a-fluid mp-1-1">
                <div class="col a-1-2">.half</div>
                <div class="col a-1-2">.half</div>
            </div>
        </div>
        <div class="a-fixed-right a-px300 t-px200 not-mp">a-px300 t-px200 not-mp</div>
    </div>

    <div class="col clear">
        <h2>t-layout test : combinations 3 odd multiples</h2>
    </div>
    <div class="col clear one">
        <div class="col a-5-6">.sixthx5</div>
        <div class="col a-1-12">.twelfth</div>
        <div class="col a-1-12">.twelfth</div>

        <div class="col a-3-8">.eighthx3</div>
        <div class="col a-3-8">.eighthx3</div>
        <div class="col a-2-8">.eighthx2</div>

        <div class="col a-3-10">.tenthx3</div>
        <div class="col a-3-10">.tenthx3</div>
        <div class="col a-3-10">.tenthx3</div>
        <div class="col a-1-10">.tenth</div>
    </div>

    <div class="col clear">
        <h2>t-layout test : combinations 3 odd multiples</h2>
    </div>
    <div class="col clear one">
        <div class="col a-5-6">.sixthx5</div>
        <div class="col a-1-12">.twelfth</div>
        <div class="col a-1-12">.twelfth</div>

        <div class="col a-3-8">.eighthx3</div>
        <div class="col a-3-8">.eighthx3</div>
        <div class="col a-2-8">.eighthx2</div>

        <div class="col a-3-10">.tenthx3</div>
        <div class="col a-3-10">.tenthx3</div>
        <div class="col a-3-10">.tenthx3</div>
        <div class="col a-1-10">.tenth</div>
    </div>

    <div class="col clear">
        <h2>t-layout test : combinations 2</h2>
    </div>
    <div class="col clear one">
        <div class="col one">.one</div>

        <div class="col a-1-2">.half</div>
        <div class="col quarter">.quarter</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>

        <div class="col a-1-3">.third</div>
        <div class="col sixth">.sixth</div>
        <div class="col sixth">.sixth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>

        <div class="col quarter">.quarter</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>

        <div class="col fifth">.fifth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>

        <div class="col sixth">.sixth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>

        <div class="col seventh">.seventh</div>
        <div class="col seventhx6">.seventh</div>

        <div class="col seventhx2">.seventh</div>
        <div class="col seventhx5">.seventh</div>

        <div class="col seventhx3">.seventh</div>
        <div class="col seventhx4">.seventh</div>

        <div class="col seventhx2">.seventh</div>
        <div class="col seventhx2">.seventh</div>
        <div class="col seventhx2">.seventh</div>
        <div class="col seventh">.seventh</div>

        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col quarter">.quarter</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>

        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col fifth">.fifth</div>
        <div class="col quarter">.quarter</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>

        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col a-1-6">.sixth</div>
        <div class="col a-1-3">.third</div>
        <div class="col a-1-6">.sixth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
    </div>

    <div class="col clear">
        <h2>t-layout test : combinations 1</h2>
    </div>
    <div class="col clear one">
        <div class="col one">.one</div>

        <div class="col a-1-2">.half</div>
        <div class="col a-1-2">.half</div>

        <div class="col a-1-3">.third</div>
        <div class="col a-1-3">.third</div>
        <div class="col a-1-3">.third</div>

        <div class="col quarter">.quarter</div>
        <div class="col quarter">.quarter</div>
        <div class="col quarter">.quarter</div>
        <div class="col quarter">.quarter</div>

        <div class="col fifth">.fifth</div>
        <div class="col fifth">.fifth</div>
        <div class="col fifth">.fifth</div>
        <div class="col fifth">.fifth</div>
        <div class="col fifth">.fifth</div>

        <div class="col a-1-6">.sixth</div>
        <div class="col a-1-6">.sixth</div>
        <div class="col a-1-6">.sixth</div>
        <div class="col a-1-6">.sixth</div>
        <div class="col a-1-6">.sixth</div>
        <div class="col a-1-6">.sixth</div>

        <div class="col seventh">.seventh</div>
        <div class="col seventh">.seventh</div>
        <div class="col seventh">.seventh</div>
        <div class="col seventh">.seventh</div>
        <div class="col seventh">.seventh</div>
        <div class="col seventh">.seventh</div>
        <div class="col seventh">.seventh</div>

        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>
        <div class="col a-1-8">.eighth</div>

        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>
        <div class="col a-1-10">.tenth</div>

        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>
        <div class="col twelfth">.twelfth</div>

        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div>
        <div class="col sixteenth">.sixteenth</div></div>

    <div class="col clear">
        <h2>t-layout test</h2>
    </div>
    <div class="col clear">
        <div class="col clear one">
            .one, .full, .fullWidth
        </div>

        <div class="col clear a-1-2">
            .half
        </div>
        <div class="col a-1-2">
            .quarterx2, .sixthx3, .eighthx4, .tenthx5, .twelfthx6
        </div>

        <div class="col clear a-1-3">
            .third
        </div>
        <div class="col a-2-3">
            .sixthx2, .twelfthx4
        </div>

        <div class="col clear quarter">
            .quarter
        </div>
        <div class="col quarterx3">
            .eighthx2, .twelfthx3
        </div>

        <div class="col clear fifth">
            .fifth
        </div>
        <div class="col fifthx4">
            &nbsp;
        </div>

        <div class="col clear a-1-6">
            .sixth
        </div>
        <div class="col a-5-6">
            .twelfthx2
        </div>

        <div class="col clear a-1-8">
            .eighth
        </div>
        <div class="col a-7-8">
            &nbsp;
        </div>

        <div class="col clear a-1-10">
            .tenth
        </div>
        <div class="col a-9-10">
            &nbsp;
        </div>

        <div class="col clear twelfth">
            .twelfth
        </div>
        <div class="col twelfthx11">
            &nbsp;
        </div>
    </div>
</div>